* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "pretendard", "sans-serif";
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

.wrap {
  width: 1080px;
  height: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrap .main {
  height: 100%;
  margin: 45px 85px;
}

button {
  border: none;
  outline: none;
  background-color: #fff;
}

header {
  padding: 35px 30px 0 80px;
  position: relative;
}
header button {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
header .title_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .title_box .text_box h5 {
  font-size: 40px;
}
header .title_box .text_box h5.blue_text {
  color: #3379F5;
}
header .title_box .text_box h5.red_text {
  color: #EB4E3D;
}
header .title_box .text_box h5.yel_text {
  color: #FFBB00;
}
header .title_box .text_box h1 {
  font-size: 70px;
  font-weight: 700;
  margin-top: 12px;
}

footer .line_wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 179px;
}
footer .line_wrap h2 {
  font-size: 38px;
  font-weight: 600;
  text-align: center;
  width: 100%;
}
footer .line_wrap > div {
  display: flex;
  width: 33.333%;
  position: relative;
  align-items: center;
}
footer .line_wrap > div img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
footer .line_wrap > div button {
  width: 50%;
  font-size: 38px;
  font-weight: 600;
}
footer .line_wrap > div button.wait_bt {
  background-color: #F5F5F5;
  color: #CCCCCC;
}
footer .line_wrap > div button.bt_on {
  background-color: #F3F7FF;
  color: #3379F5;
}
footer .blue_line_wrap {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
footer .blue_line_wrap.keybord_wrap {
  height: 570px;
}
footer .blue_line_wrap.keybord_wrap .keybord_box {
  height: 390px;
}
footer .blue_line_wrap > img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
footer .blue_line_wrap div {
  width: 100%;
  height: 179px;
  display: flex;
  align-self: flex-end;
}
footer .blue_line_wrap div img {
  width: 100%;
}
footer .blue_line_wrap div button {
  height: 100%;
  font-size: 38px;
  font-weight: 600;
  text-align: center;
  width: 50%;
  height: 100%;
}
footer .blue_line_wrap div button.full_bt {
  width: 100%;
  background-color: #F3F7FF;
  color: #3379F5;
}
footer .footer_info {
  height: 184px;
  background-color: #EEEEEE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
}
footer .footer_info li {
  font-size: 23px;
  font-weight: 500;
}
footer .footer_info li:not(:last-child) {
  margin-bottom: 5px;
}
footer .footer_info li:nth-child(2) {
  font-size: 21px;
  font-weight: 300;
}
footer .footer_info li:last-child {
  font-size: 18px;
  font-weight: 300;
}
footer .footer_info .sc_logo {
  width: 150px;
  height: 22px;
  margin-right: 35px;
}
footer .footer_info .sc_logo img {
  width: 100%;
}

.keybord_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.keybord_box > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.keybord_box ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.keybord_box ul:not(:last-child) {
  margin-bottom: 6px;
}
.keybord_box ul li {
  width: 75px;
  height: 65px;
  border: 1px solid #B7B7B7;
  font-size: 32px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.keybord_box ul li:not(:last-child) {
  margin-right: 6px;
}
.keybord_box ul li.long_key {
  width: 155px;
  font-size: 30px;
}
.keybord_box ul li.long_key.enter_key {
  margin-right: -37px;
  margin-left: 44px;
}
.keybord_box ul li.long_key img {
  position: static;
}